.note-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
  width: 100%;
}

.note-label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.note-textarea {
  /* width: 100%; */
  height: 100px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #333;
  resize: vertical;
  transition: border 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  direction: rtl;
  text-align: right;
}

.note-textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  background-color: #fff;
  outline: none;
}

.note-textarea::placeholder {
  color: #aaa;
  font-style: italic;
}
